{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<body style="background: url('/static/img/bean.jpg');
background-size: cover; background-position: center; background-repeat: no-repeat; background-color: black">

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div style="background-color: rgba(255, 255, 255, 0.5); padding: 20px; border-radius: 10px;">

      <h1>Have a coffee shop in mind that we missed? <br> Spill the beans:</h1>

          {{ render_form(form, novalidate=True) }}

	  <button type="button" class="btn bg-white fg-black me-2">See all cafes</button>

    </div>
  </div>
</div>

{% endblock %}
